body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f8fa;
    color: #333;
    text-align: center;
}

.hero {
    padding: 2rem;
    background: linear-gradient(90deg, #007cf0, #00dfd8);
    color: white;
}

.hero h1 {
    margin: 0;
    font-size: 3rem;
}


.screenshot-section {
  padding: 2rem;         
}

.screenshot {
  max-width: 90%;
  height: auto;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0 2px 8px rgba(0,0,0,.12); /* если нужна тень */
}

.caption {
    font-size: 0.9rem;
    color: #555;
}

.appstore-button {
    display: inline-block;
    padding: 1rem 2rem;
    background: #007aff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2rem;
}

.appstore-button:hover {
    background: #0051a8;
}

